@charset "utf-8";
*{
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0)!important;
}
body{
	margin:0;
	background-color:#ffcc33;
}
#logo{
	padding-top:10%;
	width:90%;
	height:auto;
	margin:0 auto;
}
#logo img{
	width:100%;
	height:auto;
}
#map{
	width:100%;
}
#map img{
	width:100%;
	border-top:#652681 4px solid;
	border-bottom:#652681 4px solid;
	margin:20px 0;
}
.button{
	padding:10px;
	font-size:12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#652681;
	color:white;
	text-decoration:none;
	text-align:center;
	width:80px;
}
#navigation{
	padding:10px;
	z-index:20;
	position:fixed;
	bottom:0;
	right:0;
}
#navigation a{
	display:inline-block;
}
.history{
	text-align:center;
	padding:15px;
}
.history h1{
	font-size:26px;
	color:#652681;
}
#header{
	padding:6px;
	font-size:14px;
	text-align:center;
	margin-bottom:0;
}
#image{
	border-top:#652681 4px solid;
	border-bottom:#652681 4px solid;
	margin:10px 0;
	max-height:90%;
}
.portrait #image{
	width:100%;
	height:auto;
}
.landscape #image{
	float:left;
	width:45%;
	height:auto;
	border-right:#652681 4px solid;
}
#image img{
	width:100%;
	height:auto;
}
img[usemap] {
	border: none;
	height: auto;
	width: 100%;
	max-width:100%;
}
#locInfo{
	font-size:10px;
}
.landscape #content{
	width:45%;
	float:right;
}
#content, #navigation{
	padding:12px;
}
#content{
	float:right;
}
#loading, #loading img{
	width:80px;
	height:auto;
	margin:0 auto;
	margin-top: 15%;
}