@charset "utf-8";

body{
	margin:0;
	background-color:#f3ca00;
}
#logo{
	padding-top:10%;
	width:50%;
	height:auto;
	margin:0 auto;
}
#logo img{
	width:100%;
	height:auto;
}
#map{
	width:100%;
}
#map img{
	width:100%;
	border-top:#652681 7px solid;
	border-bottom:#652681 7px solid;
	margin:20px 0;
}
.button{
	padding:10px;
	font-size:18px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color:#652681;
	color:white;
	text-decoration:none;
	text-align:center;
	width:110px;
}
#navigation{
	padding:20px;
}
.history{
	text-align:center;
	padding:15px;
}
.history h1{
	font-size:26px;
	color:#652681;
}