@charset "utf-8";
*{
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0)!important;
}
body{
	margin:0;
	background-color:#ffcc33;
}
#logo{
	padding-top:10%;
	width:90%;
	height:auto;
	margin:0 auto;
}
#logo img{
	width:100%;
	height:auto;
}
#content{
	margin-bottom: 80px;
	clear:both;
}
#map{
	width:100%;
}
#map{
	border-top:#652681 4px solid;
	border-bottom:#652681 4px solid;
	margin:20px 0;
}
#map img{
	width:100%;
}
.button{
	padding:10px;
	font-size:12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#652681;
	color:white;
	text-decoration:none;
	text-align:center;
	width:80px;
}
.checkinButton{
	position: absolute;
	right: 5px;
	padding:10px;
	font-size:12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#093;
	color:white;
	text-decoration:none;
	text-align:center;
	width:80px;
}
	
#navigation{
	padding:10px;
	z-index:20;
	position:fixed;
	bottom:0;
	right:0;
}
#navigation a{
	display:inline-block;
	float:right;
	margin-left:8px;
	margin-bottom:3px;
}
.history{
	text-align:center;
	padding:15px;
}
.history h1{
	font-size:26px;
	color:#652681;
}
#header{
	padding:6px;
	font-size:14px;
	text-align:center;
	margin-bottom:0;
}
#image{
	border-top:#652681 4px solid;
	border-bottom:#652681 4px solid;
	margin:10px 0;
}
.portrait #image{
	width:100%;
	height:auto;
}
/*.landscape #image{
	float:left;
	width:45%;
	height:auto;
	border-right:#652681 4px solid;
}*/
#image img{
	width:100%;
	height:auto;
}
img[usemap] {
	border: none;
	height: auto;
	width: 100%;
	max-width:100%;
}
#locInfo{
	font-size:10px;
}
/*.landscape #content{
	width:45%;
	float:right;
}*/
#content, #navigation{
	padding:12px;
}
#loading, #loading img{
	width:80px;
	height:auto;
	margin:0 auto;
	margin-top: 15%;
}

#checkinList{
	font-size:12px;
	list-style:none;
	margin-left:0;
	padding-left:0;
	line-height:22px;
}
.checkinYes{
	float:right;
	font-weight:bold;
	color:#009900;
	padding:0 7px;
	background-color:#66FF00;
}
.checkinNo{
	float:right;
	font-weight:bold;
	color:#C00;
	padding:0 7px;
}